body,
html {
    font-family: "Montserrat";
    background: #fff;
    &.no-scroll {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        scroll-behavior: auto;
    }
}
.container {
    width: calc(100% - 80px);
    max-width: 1815px;
    padding: 0 20px;
    margin: 0 auto;
}
svg {
    & path {
        transition: 0.2s ease;
    }
}
.overflow--hidden {
    overflow: hidden;
}

.main {
    position: relative;
    width: 100%;
    min-height: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 68px;
    z-index: 100;
}